.wrapper {
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  background-color: #d0f2f3; }

.simpleGame {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: red;
  text-align: center; }

.simpleGame p {
  letter-spacing: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: "Consolas"; }

p.text {
  font-family: Arial, Verdana, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: normal; }

.highlight {
  color: #7af5dd;
  text-transform: uppercase; }

/*# sourceMappingURL=default.css.map */
