$background-color: red; //#026859;
$color-highlight: #7af5dd;
$font-standard: Arial, Verdana, sans-serif;
$font-game: "Consolas";

.wrapper{
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  background-color: #d0f2f3;
}

.simpleGame{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color;
  text-align: center;
}

.simpleGame p{
  letter-spacing: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  font-family: $font-game;
}

p.text{
  font-family: $font-standard;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: normal;
}

.highlight{
  color: $color-highlight;
  text-transform: uppercase;
}